<h1>
  {{title}}
</h1>

<h3>First subcomponent</h3>
<app-subcomp-test></app-subcomp-test>

<h3>Click subcomponent</h3>
<app-click-me></app-click-me>

<h3>Second click subcomponent</h3>
<app-show-msg></app-show-msg>
