<p>
  <input #myMessage myMessage.value='' />
  <button (click)="onClickMe(myMessage.value)">Click me too</button>
</p>

<p class="message">{{clickMsg}}

<p>
  Type something: <input #myDirMessage (keyup)=0 />
</p>

<p>{{myDirMessage.value}}</p>